extends layout

block content
  #banner
    h1= title
    p Use this to edit this recipe
  hr
  if msg 
    p(class='redtext')= msg
  form(method='POST', action=`/recipes/${recipe.id}/edit`)
    label Dish Name: 
      br
      input(type='text', name='recipeDish', class="textbox", value=recipe.dishName) 
      br
    label The Occasion: 
      br
      input(type='text', name='recipeOccasion', class="textbox", value=recipe.occasion) 
      br
    label Servings: 
      br
      input(type='text', name='recipeServing', class="textbox", value=recipe.serving) 
      br
    label Description: 
      br
      input(type='text', name='recipeDescription', class="textbox", value=recipe.description) 
      br
    textarea(rows="10" placeholder="Enter the recipe instructions" name='instruction', class="textarea", value=recipe.instruction)
    br
    button(type='submit' class="submit") Save Changes
    | 
    a(href='/recipes') Cancel
    