extends layout

block content
  h1= title
  p Welcome to the #{title}
  .edit-actions
    a(href='/recipes/add') Add a recipe
  hr
  if recipes.length > 0
    #recipes-wrapper 
      ul.recipes-list 
        each val in recipes 
          a(href=`/recipes/${val.id}`)
            li(data-recipesid=val.id)
              p= 'First Name: ' + val.dishName
              p= 'Last Name: ' + val.occasion 
              p= 'Email Address: ' + val.serving
  if recipes.length > 0
    #recipes-wrapper 
      ul.recipes-list 
        table(style='width:70%', border='1')
          tr
            th= ''
            th= 'Dish Name'
            th= 'Servings'
            th= 'The Occasion'
          each val in recipes 
            tr
              td 
                a(class='viewButton' href=`/recipes/${val.id}`) View Recipe
              td= val.dishName
              td= val.serving
              td= val.occasion
