extends layout

block content
  #banner
    h1= 'The Recipe Database'
    p Welcome to the Recipe Database, please enter any sort of recipe in mind!
    .edit-actions
  hr
  a(class='option' href='/recipes/add') Add a recipe
  if recipes.length > 0
    #recipes-wrapper 
      ul.recipes-list 
        table(class='table', style='width:65%')
          tr
            th= ''
            th= 'Dish Name'
            th= 'Servings'
            th= 'The Occasion'
          each val in recipes 
            tr(class='bodyBox')
              td(class='viewCell')
                a(class='option' href=`/recipes/${val.id}`) View Recipe
              td= val.dishName
              td= val.serving
              td= val.occasion
