extends layout

block content
  h1= 'Recipe Info'
  .infoGroup
    p= "First Name: " + recipe.firstName 
    p= "Last Name: " + recipe.lastName 
    p= "Email: " + recipe.email 
  .recipe-actions
    .edit-actions
      a(href='/contacts') Show all Contacts 
      |
      a(href=`/contacts/${recipe.id}/delete`) Delete Recipe
      |
      a(href=`/contacts/${recipe.id}/edit`) Edit Recipe