extends layout

block content
  #banner
    h1= recipe.dishName
  .infoGroup
    p= 'Occasion: ' + recipe.occasion
    p= 'Serving(s): ' + recipe.serving
    p= recipe.description 
    pre(class="instruction")= recipe.instruction 
  .recipe-actions
    .edit-actions
      a(class="option" href='/recipes') Show all recipes
      |
      a(class="option" href=`/recipes/${recipe.id}/delete`) Delete recipe
      |
      a(class="option" href=`/recipes/${recipe.id}/edit`) Edit recipe