extends layout

block content
  h1= title
  p Use this to edit this form
  hr
  if msg 
    p(class='redtext')= msg
  form(method='POST', action=`/recipes/${recipe.id}/edit`)
    label First Name: 
      |
      input(type='text', name='recipeFirst', class="textbox", value=recipe.dishName) 
    br
    label Last Name: 
      |
      input(type='text', name='recipeLast', class="textbox", value=recipe.occasion) 
    br
    label Email Address: 
      |
      input(type='text', name='recipeEmail', class="textbox", value=recipe.instruction) 
    br
    button(type='submit' class="submit") Save Changes
    | 
    a(href='/recipes') Cancel