extends layout

block content
  h1= 'The Recipe Database'
  p Welcome to the Recipe Database, please enter any sort of recipe in mind!
  .edit-actions
    a(href='/recipes/add') Add a recipe
  hr
  if recipes.length > 0
    #recipes-wrapper 
      ul.recipes-list 
        table(class='table', style='width:50%')
          tr
            th= ''
            th= 'Dish Name'
            th= 'Servings'
            th= 'The Occasion'
          each val in recipes 
            tr(class='bodyBox')
              td(class='viewCell')
                a(class='viewButton' href=`/recipes/${val.id}`) View Recipe
              td= val.dishName
              td= val.serving
              td= val.occasion
