extends layout

block content
  h1= title
  p Use this to edit this form
  hr
  if msg 
    p(class='redtext')= msg
  form(method='POST', action=`/contacts/${contact.id}/edit`)
    input(type='text', name='contactFirst', value=contact.firstName) 
    | 
    input(type='text', name='contactLast', value=contact.lastName) 
    | 
    input(type='text', name='contactEmail', value=contact.email) 
    | 
    button(type='submit') Save Changes
    | 
    a(href='/contacts') Cancel