extends layout

block content
  h1= title
  p Welcome to the #{title}
  .edit-actions
    a(href='/contacts/add') Add a Contact
  hr
  if contacts.length > 0
    #contacts-wrapper 
      ul.contacts-list 
        each val in contacts 
          a(href=`/contacts/${val.id}`)
            li(data-contactsid=val.id)
              p= 'First Name: ' + val.firstName
              p= 'Last Name: ' + val.lastName 
              p= 'Email Address: ' + val.email

